video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin-top: -10px;
}

.hero-container > h1{
    color: #fff;
    font-size: 100px;
}

.hero-container > p{
    color: #fff;
    font-size: 30px;
}

.hero-btns{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btns .btn{
    margin: 6px;
}

@media screen and (max-width:960px){
    .hero-container > h1{
        font-size: 70px;
    }
}

@media screen and (max-width:768px){
    .hero-container > h1{
        font-size: 40px;
        align-items: center;
    }

    .hero-container > p{
        font-size: 25px;
    }

    .hero-btns{
        display: flex;
        flex-direction: column;
    }
}
